@tailwind base;
@tailwind components;
@tailwind utilities;

/** {*/
/*  font-family: Noto Sans, ui-sans-serif, system-ui;*/
/*}*/
a {
    @apply underline
}
 p {
    @apply dark:text-neutral-200 text-lg tracking-wide
}
h3{
  @apply text-lg
}


@layer utilities {
  .animation-delay-2000 {
    animation-delay: 8s;
  }
  .animation-delay-4000 {
    animation-delay: 9s;
  }
}
